<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.mapper.MenuMapper">

    <select id="selectAllMenu" resultType="com.liu.entity.Menu">
        SELECT id,parent_id,title,name,icon,`path`,`component` FROM menu
    </select>

</mapper>
